[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "somoclu"]
	path = somoclu
	url = https://github.com/peterwittek/somoclu.git
[submodule "armadillo"]
	path = armadillo
	url = https://github.com/lsolanka/armadillo.git
